.pie-pagina {
    background-color: #f5f5f5;  /*Establece el color de fondo del pie de pagina */
    padding: 20px;                /*Añade un espacio de 20 píxeles alrededor del contenido del pie de página*/
    text-align: center;           /*Centra el contenido del pie de página horizontalmente*/
  }
  
  .grupo-1 {
    display: flex; /*establece el contenedor como un flex container, 
    lo que permite utilizar las propiedades flexbox para la distribución de los elementos internos*/
    justify-content: space-between;  /*Distribuye los elementos internos de forma equidistante, dejando espacios entre ellos*/
    align-items: center;          /*Alinea verticalmente los elementos internos al centro del contenedor.*/
    margin-bottom: 20px;           
  }
  
  .box {
    flex: 1;   /*Indica que los elementos .box se expandirán para ocupar el espacio disponible de manera equitativa.*/
    margin: 0 10px; /*Establece un margen de 10 píxeles a la izquierda y derecha de cada elemento*/
  }
  
  .social-icons a {        /* Selecciona los elementos <a> dentro de .social-icons*/
    display: inline-block;   /**/
    margin: 0 10px;  
  }
  
  .social-icons img {
    width: 30px;     /*Establece un ancho de 30 píxeles para las imágenes*/
    height: 30px;    /*establece una altura de 30 píxeles para las imágenes*/
  }
  
  .grupo-2 {
    margin-top: 20px;   
    color: #999999;   
  }
  