<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a >
                    <img src="assets/img/logo3.png" alt="Logo" [ngStyle]="{'filter': 'brightness(1.1)',
                                                                           'mix-blend-mode': 'multiply'}">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Sobre nosotros</h2>
            <p>
                Gracias por elegir Zapatuli como tu destino para encontrar las zapatillas perfectas. Nos
                apasiona ofrecerte una amplia selección de calzado de alta calidad, trabajando con las mejores marcas y
                diseñadores. Nuestro compromiso es brindarte una experiencia de compra única, con un equipo experto que
                te ayudará a encontrar el par ideal y opciones de compra convenientes tanto en línea como en nuestras
                tiendas físicas. Tu satisfacción es nuestra prioridad, ¡esperamos verte pronto en Zapatuli!
            </p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <img src="assets/icons/Logo_de_Facebook.png" alt="Facebook Icon">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/icons/Logo-Instagram.png" alt="Instagram Icon">
            </a>
        </div>
    </div>

    <div class="grupo-2">
        <small>&copy; 2023 <b>Zaptuli</b>- Todos los derechos reservados</small>
    </div>

</footer>