

<div class="link"><a [routerLink]="['/calzado']">Seguir comprado</a></div>
<div class="caja-carrito">
  <table class="lista">
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody> 
        <tr *ngFor="let producto of productosSeleccionados">
          <td><img class="mini-img" [src]="producto.imagen" alt=""></td>
          <td>{{producto.marca}}  {{ producto.modelo }}</td>
          <td>Precio: $ {{ producto.precio }}</td>
          <td>{{producto.talles}}</td>
          <span><button class="btn btn-danger" (click)="eliminarProducto(producto)">❌</button></span>
        </tr>
        <tr>
          <td></td>
          <td>Total</td>
          <td>$ {{calcularTotal()}}</td>
        </tr>
    </tbody>
  </table>
</div>