

<div class="link"><a [routerLink]="['/calzado']">Seguir comprado</a></div>
<div class="caja-carrito">
  <table class="lista">
    <thead>
      <th>Producto</th>
      <th>Precio</th>
      <th>Talle</th>
    </thead>
    <tbody> 
        <tr *ngFor="let producto of productosSeleccionados">
          <td><img class="mini-img" [src]="producto.imagen" alt="">{{producto.marca}}{{ producto.modelo }}</td>
          <td> $ {{ producto.precio }}</td>
          <td><select [(ngModel)]="producto.talles">
            <option *ngFor="let talle of producto.talles" [value]="talle">{{ talle }}</option>
         </select></td>
          <span><button class="btn btn-danger" (click)="eliminarProducto(producto)">❌</button></span>
        </tr>
        <tr>
          <td></td>
          <td>Total</td>
          <td>$ {{calcularTotal()}}</td>
        </tr>
    </tbody>
  </table>
</div>