.cont-carrito{
    width: 75%;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 15px;
    color: rgb(28, 27, 27);
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
}
.lista{
    border:hsla(0, 8%, 81%, 0.514) 2px solid;
    width: 100%;
    background-color: rgba(134, 132, 132, 0.898);
    margin-top: 2%;
    border-radius: 10px; 
    margin-bottom: 10px;
    
}

.mini-img{
    width: 100px;
    height: 80px;
    margin-right: 50px;
    background-color: transparent !important;    
}

tr{
    border-bottom: black;
    border-style: inherit;
}
td{
    text-align: center;
    border-color: transparent;
    border-style: solid;
    
}

.btn-danger{
    margin:5px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    font-size: 30px;
}
.btn-danger:hover{
    cursor: pointer;
}
.cont-carrito .lista> tbody> tr >td >span{
    font-size: 16px;
    margin-right: 10px;
}
.cont-carrito .lista> tbody> tr >td #desc{

margin-right: 25px;
}




  /*BOTON SEGUIR COMPRANDO*/
  .link{
    width: 200px;
    height: auto;
    margin-left: 20%;
    margin-top: 10px;
}
.link a{
    text-align: center;
    text-decoration: none;
    background: #0e0d0d;
    opacity: .9;
    color: #fff;
    box-shadow: 2px 0px 2px rgba(0,0,0,.5);
    bottom: 4px;
    left: 3px;
    width: calc(100% - 6px);
    display: block;
    padding: 7px 0px 7px 0px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    transition: all 500ms;
}
.link a:hover{
    background-color: #70b231;
    box-shadow: 0px 0px 10px green inset;
}
/*FIN DE BOTON*/