@font-face {
    font-family: 'ScandinaviaBrush';
    src: url('src/assets/fonts/ScandinaviaBrush_PERSONAL_USE_ONLY.otf') format('truetype');
    font-family: 'BirdsofParadise';
    src: url('src/assets/fonts/Birds of Paradise © PERSONAL USE ONLY.ttf');
    
  }
.contenedor{
    width: 100%;
    height: 350px;
    border: 3px black;
    background-color: rgb(183, 176, 176) ;
}
.card{
    display: left;
    width: 50%;
    height: 250px;
    border: 4px blue;
    padding-left: 20px;
}