<div class="contenedor">
    <div class="card">
       <ul>
        <li class="producto" *ngFor="let producto of zapatillas">
           <div class="tag">Oferta</div>
           <h3 class="modelo">{{producto.modelo}}</h3>
           <img id="imagen" [src]="producto.imagen" alt="">
           <div class="precio" ><span>$ </span>{{producto.precio}}</div>
           <div id="marca">{{producto.marca}}</div> 
           <button class="boton" (click)="addCarrito(producto)">Añadir carrito</button>  
        </li>
       </ul>
    </div>
</div>
 <!--<p>CARRITO DE COMPRAS</p>
    [ngStyle]="{'filter': 'brightness(1.1)',
        'mix-blend-mode': 'multiply'}"
         <img src="../assets/img/nike.1.jpg" alt="FOTO_NIKE" >
        
    -->