<!--BOTON DE BUSQUEDA-->
<div class="bus-cont">
   <h1></h1>
   <input type="text" placeholder="Buscar..." [(ngModel)]="dataInputSearch" (keyup.enter)="buscarZapa()">
   <button (click)="buscarZapa()">Buscar</button>
<li class="bus-producto" *ngFor="let zapatilla of zapasData">
   <h3 class="bus-modelo">{{zapatilla.modelo}}</h3>
   <img class="bus-imagen" id="imagen" [src]="zapatilla.imagen" alt="">
   <div class="bus-precio"><span>$ </span>{{zapatilla.precio}}</div>
   <div id="marca">{{zapatilla.marca}}</div>
</li>
</div>
<!--imagen carrito-->
<!--<div class="boton-conteiner">
   <a [routerLink]="['/carrito']">
     <button class="boton-carrito"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
       <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
       </svg>
       <span class="badge">{{ cantidadCarrito }}</span>  Mostrar la cantidad actualizada -->
    <!-- </button> 
   </a>
 </div>-->
<!--CARUSEL DE IMAGENES-->
<div class="contenedor">
    <div class="card">
       <ul>
        <li class="producto" *ngFor="let producto of zapatillas">
           <div class="tag">Oferta</div>
           <div class="marca">{{producto.marca}}</div> 
          <div class="clas-img" ><img class="imagen" [src]="producto.imagen" alt=""></div> 
           <div class="precio" ><span>$ </span>{{producto.precio}}</div>
           <h3 class="modelo">{{producto.modelo}}</h3>
           <ul class="talles">
            <li *ngFor="let talle of producto.talles">{{ talle }}</li>
           </ul> 
           <button class="boton" (click)="addCarrito(producto)">Añadir carrito</button>  
        </li>
       </ul>
    </div>
</div>




 <!--<p>CARRITO DE COMPRAS</p>
    [ngStyle]="{'filter': 'brightness(1.1)',
        'mix-blend-mode': 'multiply'}"
         <img src="../assets/img/nike.1.jpg" alt="FOTO_NIKE" >
        
    -->