<!--BOTON DE BUSQUEDA-->
<div class="bus-cont">
   <div>
   <input class="bus-input" type="text" placeholder="Escribir algo aquí" [(ngModel)]="dataInputSearch" (keyup.enter)="buscarZapa()">
   <button id="bt-buscar" (click)="buscarZapa()"> Buscar
      <!-- <img class="bus-lupa" src="../assets/icons/lupa.png" alt="lupa"> -->
   </button>
 </div>
   <ul class="bus-ul"> <!-- Agrega un elemento ul -->
      <li class="bus-producto" *ngFor="let zapatilla of zapasData">
         <h3 class="bus-modelo">{{zapatilla.modelo}}</h3>
         <img class="bus-imagen" id="imagen" [src]="zapatilla.imagen" alt="">
         <div class="bus-precio"><span>$ </span>{{zapatilla.precio}}</div>
         <div id="marca">{{zapatilla.marca}}</div>
         <!--se crea un botón que tiene un atributo click que está vinculado a la función verDescripcion(zapatilla.id). 
            Cuando el botón es clicado,  se invocará la función verDescripcion y 
            se pasará como argumento el valor zapatilla.id.  -->
         <button id="bt-descripcion" (click)="verDescripcion(zapatilla.id)">Ver Descripción</button>
      </li>
   </ul>
</div>

<!--CARUSEL DE IMAGENES-->
<div class="contenedor">
    <div class="card">
       <ul>
        <li class="producto" *ngFor="let producto of zapatillas">
           <div class="tag">Oferta</div>
           <div class="marca">{{producto.marca}}</div> 
          <div class="clas-img" ><img class="imagen" [src]="producto.imagen" alt=""></div> 
           <div class="precio" ><span>$ </span>{{producto.precio}}</div> 
           <h3 class="modelo">{{producto.modelo}}</h3>
           <ul class="talles">
           </ul> 
           <button class="boton" (click)="addCarrito(producto)" (click)="sendNumber()">Añadir carrito</button>
        </li>
       </ul>
    </div>
</div>
