 <!--Inicio de la cabezera-->
<header id="header">
    <div id="logotipo">
      <img src="../assets/img/logo3.png" alt="logotipo de la wed" 
        [ngStyle]="{'filter': 'brightness(1.1)',
        'mix-blend-mode': 'multiply'}" /> <!--con esto eliminamos el fondo de la img-->
    </div>
    <h1>
      <a>{{encabezado}}</a>
    </h1>
</header>
  <!--Fin de la cabezera-->  
<!--INICIO DE LA MENU-->
<nav id="nav">
  <ul>
   <li>
       <a [routerLink]="['/home']">Inicio</a>
   </li>
   <li>
       <a [routerLink]="['/calzado']">Zapatillas</a>
   </li>
   <li>
      <a [routerLink]="['/']"></a>
   </li>
  
        <li>
          <a >Hombre</a>
          <ul>
            <!--Agregamos un menu despligable-->
            <li>
              <a>Adidas</a>
           <!--usamos el target para abrir link en nueva pestaña
          y el por fallas en tabnabbing-->
            </li>
            <li>
              <a >Head</a>
            </li>
            <li>
              <a >Nike</a>
            </li>
          </ul>
        </li>
  
        <li>
          <a >Mujer</a>
          <ul>
            <!--Agregamos un menu despligable-->
            <li>
              <a >Fila</a>
            </li>
            <li>
              <a >Topper</a>
            </li>
            <li>
              <a >Gucci</a>
            </li>
          </ul>
        </li>
        <li>
          <a >Ofertas</a>
        </li>
        <li>
          <a [routerLink]="['/contacto']">Contacto</a>
        </li>
        <li>
          <a [routerLink]="['/carrito']">
            <span ><svg class="icono-carro" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
                <span *ngIf="number" class="badge badge-notify">{{number.text}}</span>
            </span>
          </a>
        </li>
        <li class="icon">
          <a class="eti" [routerLink]="['/registro']" ><img src="../assets/img/usuario.png" alt=""></a> 
        </li>
      </ul>
      
    </nav>
    <!--Fin del Menu-->
