 <!--Inicio de la cabezera-->
<header id="header">
    <div id="logotipo">
      <img src="../assets/img/logo3.png" alt="logotipo de la wed" 
        [ngStyle]="{'filter': 'brightness(1.1)',
        'mix-blend-mode': 'multiply'}" /> <!--con esto eliminamos el fondo de la img-->
    </div>
    <h1>
      <a>{{encabezado}}</a>
    </h1>
</header>
  <!--Fin de la cabezera-->  
<!--INICIO DE LA MENU-->
<nav id="nav">
<ul>
 <li>
     <a [routerLink]="['/calzado']">Calzado</a>
 </li>
 <li>
     <a [routerLink]="['/zapatillas']">Zapatillas</a>
 </li>
 <li>
    <a [routerLink]="['/']"></a>
 </li>

      <li>
        <a >Hombre</a>
        <ul>
          <!--Agregamos un menu despligable-->
          <li>
            <a>Adidas</a>
         <!--usamos el target para abrir link en nueva pestaña
        y el por fallas en tabnabbing-->
          </li>
          <li>
            <a >Head</a>
          </li>
          <li>
            <a >Nike</a>
          </li>
        </ul>
      </li>

      <li>
        <a >Mujer</a>
        <ul>
          <!--Agregamos un menu despligable-->
          <li>
            <a >Fila</a>
          </li>
          <li>
            <a >Topper</a>
          </li>
          <li>
            <a >Gucci</a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/carrito']">Carrito</a>
      </li>
      <li>
        <a >Ofertas</a>
      </li>
      <li>
        <a >Contacto</a>
      </li>
    </ul>
  </nav>
  <!--Fin del Menu-->
